html{color:#f0f;
		background:#fff;
		padding:20px 0;
		font : 12px/18px"맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdan, Arial, Tahoma;
}

#QnA{width:380px; height:770px;
		font-size:15px;
		margin:0 auto;
		background-color:#fff}

#pagination{text-align:center;}

ul li{ list-style-type: square; padding: 0; margin: 0 0 0 20px;}
ol li{padding-left: 14px; list-style-type:decimal;}

table {width: 90%; border-collapse: collapse; margin: 10px;}
table, th, td {border: 3px solid gray;}
td {padding: 5px;}
th {background-color: #117711; color: #fff; }

a{color:#000; text-decoration:none; font-weight=bold;}

a:hover{color:#ff0000; text-decoration:none; font-weight=bold;}

a.direction{color:#888;}

td.cs{color:#000;}